.hero {
    background-image: url("../../../assets/images/bg2.jpeg");
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 120vh;
    padding-top: 20%;
    padding-right: 40px;
    color: #fff;
}

.hero #heading h3 {
    color: rgb(255, 254, 254);

}

.hero #heading {
    text-align: left;
    margin: 0;
    padding: 0;
}

@media screen and (max-width:768px) {
    .margin {
        height: 40vh;
    }

    .hero {
        background-position: right;
        padding-top: 50%;
        height: 150vh;
    }

    .hero .row {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .hero {
      display: flex;
    }
    .hero  {
      opacity: 1;
    }
    /* header .wrapper .article h1 span.arrow {
      display:none;
    } */
  
    .hero  {
      max-height: 1000px
    }
  } 
  
  @media only screen and (min-width: 1024px) {
  
    .container header .wrapper {
      text-align:left;
      margin-left:5%;
      width:480px;
    }
  
    .hero  {
      display:flex;
    }
  
    .hero {
      display:block;
    }
    .hero  {
        max-height: 1010px;
      }
  
    /* .container header .menu-icon {
      display:none;
    } */
  
    .hero {
      display: block;
    }
  
    /* section.dashboard .slick-list .slick-track {
      display: flex;
      min-width: 309px;
      padding: 20px;
    } */
    
   .hero {
      display: flex;
    }
  
   .hero{
      opacity: 1;
    }
  } 



