.aboutHome {
    height: auto;
    margin-top: 100px;
}

.aboutHome #heading {
    text-align: left;
    padding: 0;
}

.aboutHome .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aboutHome .right {
    padding: 80px 50px;

}
.row {
    margin-top: auto;
}

.aboutHome .items {
    margin-top: 20px;
}

.aboutHome .item {
    background-color: #fff;
    margin-top: 30px;
    padding: 20px;
    transition: 0.5s;
}

.aboutHome .img {
    width: 200%;
}

.aboutHome img {
    width: 70px;
    height: 70px;
}

.aboutHome .item h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.aboutHome .item:hover {
    background-color: #1eb2a6;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 5px 25px -2px rgb(0 0 0 /6%);
}

.awrapper {
    background-image: url("../../../src/assets/images/awrapper.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30vh;
    color: #fff;
}

.awrapper .box {
    padding: 70px 0;
}

.awrapper img {
    margin-right: 30px;
}

.awrapper h1 {
    font-size: 50px;
}

.awrapper h3 {
    font-size: 20px;
    font-weight: 500;
}


@media screen and (max-width: 768px) {

    .aboutHome {
        margin-top: 90%;
    }
    .aboutHome .container {
        flex-direction: column-reverse;
        /* margin-top: 90%; */
    }


    .aboutHome .row {
        width: 100%;
    }

    .awrapper {
        height: 50vh;
    }
}

/* @media only screen and (min-width: 768px) {
    .aboutHome {
      display: flex;
    }
    /* .aboutHome   {
      opacity: 1;
    } */
    /* header .wrapper .article h1 span.arrow {
      display:none;
    } */
  
 .right{
      /* max-height: 1000px */
      margin-top: 20px;
      /* position: fixed; */
    }
  /* }  */
  
  /* @media only screen and (min-width: 1024px) {
  
    .aboutHome {
      text-align:left;
      margin-left:5%;
      width:480px;
    }
  
    .aboutHome  {
      display:flex;
    }
  
    .aboutHome {
      display:block;
    }
    .aboutHome  {
        max-height: 1500px;
      }
  
    /* .container header .menu-icon {
      display:none;
    } */
  
   
  
    /* section.dashboard .slick-list .slick-track {
      display: flex;
      min-width: 309px;
      padding: 20px;
    } */
    
  /* } */




  /* @media all and (max-width: 1400px) and (min-width: 300px) {
    .right {
     margin-top :500px;
    }
  } */
