
.aboutHome {
    height: auto;
    /* margin-top: 100px; */
}
.aboutHome .item h3 {
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.aboutHome #heading {
    text-align: left;
    padding: 0;
}

.aboutHome .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aboutHome .right {
    padding: 60px 50px;

}


.aboutHome .items {
    margin-top: 20px;
}

.aboutHome .item {
    background-color: #fff;
    margin-top: -20px;
    padding: 80px;
    transition: 0.5s;
}

.aboutHome .img {
    width: 200%;
}

.aboutHome img {
    width: 70px;
    height: 70px;
}

.aboutHome .item h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.aboutHome .item:hover {
    background-color: #1eb2a6;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 5px 25px -2px rgb(0 0 0 /6%);
}

.awrapper {
    background-image: url("../../../src/assets/images/awrapper.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 30vh;
    color: #fff;
}

.awrapper .box {
    padding: 70px 0;
}

.awrapper img {
    margin-right: 30px;
}

.awrapper h1 {
    font-size: 50px;
}

.awrapper h3 {
    font-size: 20px;
    font-weight: 500;
}


/* -------------------------------------------max-width: 1300px Start---------------------------------- */

@media screen and (max-width: 1600px) and (max-width: 620px)  {

  .aboutHome .item {
    background-color: #fff;
    margin-top: -20px;
    padding: 100px;
    transition: 0.5s;
}
.aboutHome .item h3 {
  font-size: 18px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
}

/* -------------------------------------------max-width: 1300px End---------------------------------- */



/* -------------------------------------------max-width: 768px Start---------------------------------- */


@media screen and (max-width: 768px) {

    .aboutHome {
        margin-top: 90%;
    }
    .aboutHome .container {
        flex-direction: column-reverse;
        /* margin-top: 90%; */
    }


    .aboutHome .row {
        width: 100%;
    }

    .awrapper {
        height: 50vh;
    }
}

/* -------------------------------------------max-width: 768px End---------------------------------- */

@media screen and (max-width: 440px) {

  .aboutHome {
    margin-top: 221%;
  }
  .aboutHome .container {
      flex-direction: column-reverse;
      
  }

  .aboutHome .row {
      width: 100%;
  }

  .awrapper {
      height: 50vh;
  }
  .hero #heading {
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 135px;
}
.aboutHome .row {
  width: 100%;
  padding: 0;
  font-size: 12px;
  margin-top: 55px;
}
#heading h1 {
  font-size: 33px;
  margin: 23px -3px;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
}
.aboutHome .item {
  background-color: #fff;
  margin-top: 30px;
  padding: 5px;
  transition: 0.5s;
  margin-top: 76px;
}
.aboutHome .item h3 {
  font-size: 15px;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.hero #heading {
  text-align: left;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
p {
  line-height: 30px;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}
}

/* -------------------------------------------max-width: 400px Start---------------------------------- */
@media screen and (max-width: 400px) {

  .aboutHome {
    margin-top: 221%;
  }
  .aboutHome .container {
      flex-direction: column-reverse;
      
  }

  .aboutHome .row {
      width: 100%;
  }

  .awrapper {
      height: 50vh;
  }
  .hero #heading {
    text-align: left;
    margin: 0;
    padding: 0;
    margin-top: 128px;
}
.aboutHome .row {
  width: 100%;
  padding: 0;
  font-size: 12px;
  margin-top: 55px;
}
#heading h1 {
  font-size: 33px;
  margin: 23px -3px;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
}
.aboutHome .item {
  background-color: #fff;
  margin-top: 30px;
  padding: 5px;
  transition: 0.5s;
  margin-top: 76px;
}
.aboutHome .item h3 {
  font-size: 15px;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.hero #heading {
  text-align: left;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
p {
  line-height: 30px;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}
}

/* -------------------------------------------max-width: 400px End---------------------------------- */


/* -------------------------------------------max-width: 367px Start---------------------------------- */

@media screen and (max-width: 367px) {

  .aboutHome {
      margin-top: 240%;
  }
  .aboutHome .container {
      flex-direction: column-reverse;
      /* margin-top: 90%; */
  }


  .aboutHome .row {
      width: 100%;
  }

  .awrapper {
      height: 50vh;
  }
  .newletter h1 {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}

.newletter {
  background-color: #1eb2a6;
  padding: 34px 2px;
  color: #fff;
  margin-top: 50px;
}
}

/* -------------------------------------------max-width: 367px End---------------------------------- */


/* @media only screen and (min-width: 768px) {
    .aboutHome {
      display: flex;
    }
    /* .aboutHome   {
      opacity: 1;
    } */
    /* header .wrapper .article h1 span.arrow {
      display:none;
    } */
  
  Title  .right{
      /* max-height: 1000px */
      /* margin-top: 20px; */
      /* position: fixed; */
    }
  /* }  */
  
  /* @media only screen and (min-width: 1024px) {
  
    .aboutHome {
      text-align:left;
      margin-left:5%;
      width:480px;
    }
  
    .aboutHome  {
      display:flex;
    }
  
    .aboutHome {
      display:block;
    }
    .aboutHome  {
        max-height: 1500px;
      }
  
    /* .container header .menu-icon {
      display:none;
    } */
  
   
  
    /* section.dashboard .slick-list .slick-track {
      display: flex;
      min-width: 309px;
      padding: 20px;
    } */
    
  /* } */



/* 
  @media all and (max-width: 11250px) and (min-width: 300px) {
    .row {
     margin-top :110px;
    }
  } */
