.features-box {
    padding: 20px;
    
  }
  .features-box h3 {
    padding:  15px 18px;
    margin: 0px 0 05px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    

  }
  .features-box p {
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    padding:  0px 10px;
    word-spacing: 1px;
    transition: 0.1s;
    font-size: 14px;
    margin-top: 14px;
    text-align: center;
  }
  .features-box i {
    font-size: 30px;
    margin-top: 20px;
    transition: 0.5s;
    opacity: 0;
  }
  .features .box:hover p {
    color: white;
  }
  .features .box:hover i {
    color: white;
    opacity: 1;
  }
 .features-heading {
  margin: 50px 0 50px 0;
}
.features-heading-h4 {
  color: #ff014f;
  letter-spacing: 2px;
  font-weight: 400;
}
.features-heading-h1 {
  font-size: 60px;
  color: #3c3e41;
}
.features-h1 {
  color: #3c3e41;
}
.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

@media screen and (max-width: 580px) {
  .features-grid {
   
    grid-template-columns: repeat(1, 1fr);
  }
}

.features-p {
  color: #3c3e41;
}
.features-text-center {
  text-align: center;
}
.features-container {
    max-width: 85%;
    margin: auto;
  }

  .features-top {
    margin-top: 150px;
  }



  .features-btn_shadow {
    padding: 0px;         
    border-radius: 6px;
    transition: 0.3s all ease;
    cursor: pointer;
    color: #000;
    transition: 0.5s;
  }
  .features-btn_shadow {
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
  }
  .features-btn_shadow:hover {
    background: #70a8a4;
    color: white;
    transform: translateY(-10px);
  }
  .features-box_shodow {
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
    border-radius: 10px;
  }

  .img2{
    padding: 0;
    object-fit: cover;
    width: 100%;
    height: 250px;
  }
  .hr{
    width: 80%;
    margin-left: 19px;
    text-align: center;
    opacity: 0.3;
    
  }